@charset "UTF-8";
body {
  font-family: '微软雅黑', '黑体';
  background-color: #f4f4f2; }

header .lang-select {
  width: 100%; }
  header .lang-select .btn {
    background: none;
    height: 3em;
    width: 100%; }
  header .lang-select.open .btn {
    background-color: #fff; }
  header .lang-select .dropdown-menu {
    width: 100%;
    border: none;
    box-shadow: none; }

.top-banner {
  padding: 50px 20px 38px 20px; }
  .top-banner .search-bar input {
    border-radius: 0;
    height: 3em;
    background-color: #f4f4f2; }
  .top-banner .search-bar .input-group-addon {
    background-color: #222222;
    color: #fff;
    padding: 6px 20px;
    font-size: 1.2em; }
    .top-banner .search-bar .input-group-addon:hover {
      background-color: #014493; }
    .top-banner .search-bar .input-group-addon:active {
      background-color: #4d89d1; }

.navbar-default {
  background: none;
  border: none; }

.navbar-default .navbar-nav > .active > a {
  background: none; }

.weather {
  background-color: #333333;
  color: #fff;
  padding: 10px 30px; }
  .weather span {
    padding-right: 1.5em; }

.gutter {
  height: 20px; }

.section {
  border-top: 2px solid #666666;
  padding: 20px 0; }
  .section .section-top-nav {
    margin: 0;
    padding: 0;
    margin-bottom: 20px; }
    .section .section-top-nav li {
      margin: 0;
      padding: 0;
      display: inline-block;
      margin-right: 15px; }
    .section .section-top-nav li:first-child {
      font-size: 1.5em; }
    .section .section-top-nav li:first-child:after {
      content: ">";
      padding-left: 0.8em; }
  .section .panel-1 {
    background-color: #fff;
    border: 1px solid #ededed;
    height: 336px; }
    .section .panel-1 .thumb {
      text-align: center; }
      .section .panel-1 .thumb img {
        max-width: 100%;
        height: auto; }
    .section .panel-1 .caption {
      padding: 15px;
      text-align: center; }
  .section .panel-2 {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #ededed; }
    .section .panel-2 .item {
      clear: both;
      padding: 10px 5px;
      height: 108px;
      border-bottom: 1px solid #f4f4f2; }
    .section .panel-2 .item:last-child {
      border-bottom: none; }
    .section .panel-2 .caption {
      font-size: 14px;
      line-height: 24px;
      margin-left: 130px;
      padding-right: 130px;
      width: 100%;
      clear: right; }
    .section .panel-2 .thumb {
      float: left;
      height: auto;
      width: 120px; }
      .section .panel-2 .thumb img {
        max-width: 100%;
        height: auto; }
  .section .panel-3 {
    height: 336px;
    overflow: hidden;
    border: 1px solid #ededed;
    background-color: #fff;
    text-align: center; }
    .section .panel-3 img {
      border: none;
      max-width: 100%;
      height: auto; }

footer {
  display: block;
  background-color: #666666;
  color: #f4f4f2; }
  footer .footer-section {
    margin: 0;
    padding: 20px; }
  footer .footer-menu {
    margin: 0;
    padding: 0; }
    footer .footer-menu ul,
    footer .footer-menu li {
      margin: 0;
      padding: 0;
      list-style: none; }
  footer .footer-menu > li {
    float: left;
    margin: 1em 1.5em; }
    footer .footer-menu > li li {
      line-height: 2em; }
      footer .footer-menu > li li:first-child {
        color: #fff;
        font-size: 1.2em; }
      footer .footer-menu > li li a {
        color: #f4f4f2; }
        footer .footer-menu > li li a:hover {
          color: #999999; }
  footer .global {
    line-height: 2.5em;
    text-align: center; }
  footer .copyright {
    background-color: #333333;
    padding: 20px; }
