$gray-base: #000 !default;
$gray-darker: lighten($gray-base, 13.5%) !default; // #222
$gray-dark: lighten($gray-base, 20%) !default; // #333
$gray: lighten($gray-base, 40%) !default; // #666
$gray-light: lighten($gray-base, 60%) !default; // #999
$gray-lighter: #f4f4f2 !default;
$brand-primary: #014493 !default; // #337ab7
$brand-success: #4d89d1 !default;
$brand-info: #666666 !default;
$brand-warning: #ffb100 !default;
$brand-danger: #ff0006 !default;
$inverse-color:#fff;
@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?maydk9');
    src: url('../fonts/icomoon.eot?maydk9#iefix') format('embedded-opentype'), url('../fonts/icomoon.ttf?maydk9') format('truetype'), url('../fonts/icomoon.woff?maydk9') format('woff'), url('../fonts/icomoon.svg?maydk9#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="myico-"],
[class*=" myico-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.myico-finance:before {
    content: "\e900";
}

.myico-data:before {
    content: "\e901";
}

.myico-post:before {
    content: "\e902";
}

@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?psj2cv');
    src: url('fonts/icomoon.eot?psj2cv#iefix') format('embedded-opentype'), url('fonts/icomoon.ttf?psj2cv') format('truetype'), url('fonts/icomoon.woff?psj2cv') format('woff'), url('fonts/icomoon.svg?psj2cv#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: '微软雅黑', '黑体';
    background-color: $gray-lighter;
}

a {
    color: $gray;
    &:hover {
        color: $gray-light;
        text-decoration: none;
    }
}

header {
    .lang-select {
        width: 100%;
        .btn {
            background: none;
            height: 3em;
            width: 100%;
        }
        &.open {
            .btn {
                background-color: $inverse-color;
            }
        }
        .dropdown-menu {
            width: 100%;
            border: none;
            box-shadow: none;
        }
    }
}

.top-banner {
    padding: 50px 20px 38px 20px;
    .search-bar {
        input {
            border-radius: 0;
            height: 3em;
            background-color: $gray-lighter;
        }
        .input-group-addon {
            background-color: $gray-darker;
            color: $inverse-color;
            padding: 6px 20px;
            font-size: 1.2em;
            &:hover {
                background-color: $brand-primary;
            }
            &:active {
                background-color: $brand-success;
            }
        }
    }
}

.navbar-default {
    background: none;
    border: none;
}

.navbar-default .navbar-nav>.active>a {
    background: none;
}

.weather {
    background-color: $gray-dark;
    color: $inverse-color;
    padding: 10px 30px;
    span {
        padding-right: 1.5em;
    }
}

.gutter {
    height: 20px;
}

.breadcrumb {
    padding: 20px 10px 0 0;
    li:first-child {
        padding-left: 1em;
        border-left: 3px solid $gray;
        font-size: 16px;
    }
    li+li:before {
        content: ">";
    }
}

.aside {
    .title {
        border-left: 3px solid $gray;
        padding-left: 1em;
        margin-bottom: 1em;
    }
    .panel-1 {
        background-color: $inverse-color;
        border: 1px solid #ededed;
        height: 336px;
        .thumb {
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .caption {
            padding: 15px;
            text-align: center;
        }
    }
    .panel-2 {
        padding: 5px;
        background-color: $inverse-color;
        border: 1px solid #ededed;
        .item {
            clear: both;
            padding: 10px 5px;
            height: 108px;
            border-bottom: 1px solid $gray-lighter;
        }
        .item:last-child {
            border-bottom: none;
        }
        .caption {
            font-size: 14px;
            line-height: 24px;
            margin-left: 130px;
            padding-right: 130px;
            width: 100%;
            clear: right;
        }
        .thumb {
            float: left;
            height: auto;
            img {
                max-width: 100%;
                height: auto;
            }
            width:120px;
        }
    }
}

.section {
    border-top: 2px solid $gray;
    padding: 20px 0;
    .section-top-nav {
        margin: 0;
        padding: 0;
        margin-bottom: 20px;
        li {
            margin: 0;
            padding: 0;
            display: inline-block;
            margin-right: 15px;
        }
        li:first-child {
            font-size: 1.5em;
        }
        li:first-child:after {
            content: ">";
            padding-left: 0.8em;
        }
    }
    .panel-1 {
        background-color: $inverse-color;
        border: 1px solid #ededed;
        height: 336px;
        .thumb {
            text-align: center;
            img {
                max-width: 100%;
                height: auto;
            }
        }
        .caption {
            padding: 15px;
            text-align: center;
        }
    }
    .panel-2 {
        padding: 5px;
        background-color: $inverse-color;
        border: 1px solid #ededed;
        .item {
            clear: both;
            padding: 10px 5px;
            height: 108px;
            border-bottom: 1px solid $gray-lighter;
        }
        .item:last-child {
            border-bottom: none;
        }
        .caption {
            font-size: 14px;
            line-height: 24px;
            margin-left: 130px;
            padding-right: 130px;
            width: 100%;
            clear: right;
        }
        .thumb {
            float: left;
            height: auto;
            img {
                max-width: 100%;
                height: auto;
            }
            width:120px;
        }
    }
    .panel-3 {
        img {
            border: none;
            max-width: 100%;
            height: auto;
        }
        height:336px;
        overflow: hidden;
        border:1px solid #ededed;
        background-color:$inverse-color;
        text-align: center;
    }
}

//news
.section.list {
    margin-top: 20px;
    padding: 20px 15px;
    border: none;
    background-color: $inverse-color;
    border: 1px solid #ededed;
    .title {
        font-weight: 600;
        color: $gray;
    }
    .brief {
        margin: 20px 0;
        color: $gray-light;
    }
    .row {
        margin-bottom: 20px;
        border-bottom: 1px solid $gray-lighter;
        padding-bottom: 15px;
        margin-right: 10px;
        &:last-child {
            margin-bottom: 0;
            border: none;
        }
    }
}

.list-more {
    background-color: $inverse-color;
    padding: 10px;
    text-align: center;
    margin: 10px 0;
    color: $gray-light;
    cursor: pointer;
    border: 1px solid #ededed;
    &:active {
        background-color: $gray-light;
        color: $inverse-color;
    }
}

//news-details
.news-details {
    background-color: $inverse-color;
    padding: 10px;
    text-align: center;
    color: $gray;
    border: 1px solid #ededed;
    h1 {
        margin: 1.5em 1em 1em 1em;
    }
    .addon {
        color: $gray-light;
        font-style: italic;
        margin: 10px;
        margin-bottom: 30px;
    }
    .well {
        border: none;
        box-shadow: none;
    }
    .content {
        text-align: left;
        padding: 1em;
        text-indent: 2em;
        min-height: 30em;
        line-height: 1.8em;
        img {
            max-width: 100%;
        }
    }
    .pre-next {
        text-align: left;
        border-top: 1px solid $gray-lighter;
        line-height: 2em;
        margin: 2em;
        padding-top: 1em;
    }
}

//about
.banner-1 {
    margin-top: 20px;
    width: 100%;
    position: relative;
    .content {
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -40%;
        width: 80%;
        color: $inverse-color;
        p {
            color: $gray-lighter;
        }
    }
}

.about {
    background-color: $inverse-color;
    padding: 2em;
    margin-bottom: 2em;
    .nav-tabs {
        margin-bottom: 2em;
        li {
            width: 25%;
            text-align: center;
            &.active {
                a {
                    background-color: $brand-primary;
                    color: $inverse-color;
                }
            }
            a {
                padding: 15px 10px;
                margin: 10px;
                border: 1px solid $gray-light;
                border-radius: 0;
            }
        }
    }
    h2 {
        border-left: 3px solid $brand-primary;
        margin-bottom: 1em;
        font-size: 16px;
        font-weight: 600;
        padding-left: 1em;
    }
    h3 {
        font-size: 15px;
        font-weight: 600;
    }
    h4 {
        font-size: 14px;
    }
    line-height:1.5em;
    #profile {
        padding-bottom: 3em;
        .col-md-5,
        .col-md-7 {
            padding: 2em;
        }
        .col-md-6 {
            //float:right;
        }
    }
    #culture {
        .col-md-3 {
            text-align: center;
        }
        padding-bottom:3em;
    }
    #hr {
        li {
            list-style: none;
        }
    }
}

.product {
    background-color: $inverse-color;
    .nav-tabs {
        display: inline-flex;
        li {
            width: 33%;
            margin: 2%;
            background-color: $gray-lighter;
            a:hover {
                border: none;
                color:$brand-success;
            }
        }
        li.active {
            background-color: darken($gray-lighter, 5%);
            border-bottom: 5px solid $brand-success;
            h2{
            	color:$brand-success;
            }
            a {
                background-color: initial;
                border: none;
            }
        }
    }
    .tab-content {
        padding: 3em;
        p {
            margin: 2em 0;
        }
    }
}

footer {
    display: block;
    background-color: $gray;
    color: $gray-lighter;
    .footer-section {
        margin: 0;
        padding: 20px;
    }
    .footer-menu {
        margin: 0;
        padding: 0;
        ul,
        li {
            margin: 0;
            padding: 0;
            list-style: none;
        }
    }
    .footer-menu>li {
        float: left;
        margin: 1em 1.5em;
        li {
            line-height: 2em;
            &:first-child {
                color: $inverse-color;
                font-size: 1.2em;
            }
            a {
                color: $gray-lighter;
                &:hover {
                    color: $gray-light;
                }
            }
        }
    }
    .global {
        line-height: 2.5em;
        text-align: center;
    }
    .copyright {
        background-color: $gray-dark;
        padding: 20px;
    }
}
